<section class="sections">
  <div class="container fresh-box">
    <!--Код-->
    <div class="title-wrap">
      <p class="title">
        Fresh Harvest Box has <br>
        got you covered
      </p>
      <div class="image-wrap">
        <picture>
          <source
            srcset="
              ./img/melon-desk@1.jpg  1x,
              ./img/melon-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/melon_tab@1.jpg  1x,
              ./img/melon_tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/melon@1x.jpg 1x, 
            ./img/melon@2x.jpg 2x"


            media="(min-width: 320px)"
          />

          <img
            class="image-melon image"
            src="./img/melon.jpg "
            alt="melon"
            style="width: 100%;"
          />
        </picture>

        <picture>
          <source
            srcset="
              ./img/bluberry-desk@1.jpg  1x,
              ./img/bluberry-desl@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/blueberry_tab@1x.jpg 1x,
              ./img/blueberry_tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            class="image-blueberry image"
            src="./img/bluberry.jpg"
            alt="blueberry"
            width="100%"
            height="100%"
            
            
          />
        </picture>
      </div>
  </div>
</section>

