
<section class=" fresh-box sections">
  <div class="container">
    <!--Код-->
    <h2 class="last-title">Fresh Harvest Box has got you covered</h2>
    <div class="fresh-box-div">
      <ul class="fresh-box-list">
        <li class="melon-img">
          <picture>
            <!-- DESK -->
            <source media="(min-width: 1280px)" srcset="
                              ./img/fresh-box-img/desk/desk_melon@1x.webp 1x,
                              ./img/fresh-box-img/desk/desk_melon@2x.webp 2x" width="792" height="502"
              type="image/webp" />
            <!-- TABLET -->

            <source media="(min-width: 768px)" srcset="
                    ./img/fresh-box-img/tab/tab_melon@1x.webp 1x,
                    ./img/fresh-box-img/tab/tab_melon@2x.webp 2x" width="344" height="480" type="image/webp" />

            <!-- MOBILE -->
            <source media="(max-width: 767px)" srcset="
                    ./img/fresh-box-img/mob/mob_melon@1x.webp 1x,
                    ./img/fresh-box-img/mob/mob_melon@2x.webp 2x" width="335" height="476" type="image/webp" />

            <img class="fresh-box-images" src="./img/fresh-box-img/mob/mob_melon@1x.webp" alt="retina melon"
              loading="lazy" />
          </picture>
        </li>
        <li class="blueberry-img">
          <picture>
            <!-- DESK -->
            <source media="(min-width: 1280px)" srcset="
                                        ./img/fresh-box-img/desk/desk_bb@1x.webp 1x,
                                        ./img/fresh-box-img/desk/desk_bb@2x.webp 2x" width="400" height="502"
              type="image/webp" />
            <!-- TABLET -->

            <source media="(min-width: 768px)" srcset="
                    ./img/fresh-box-img/tab/tab_bb@1x.webp 1x,
                    ./img/fresh-box-img/tab/tab_bb@2x.webp 2x" width="344" height="480" type="image/webp" />

            <!-- MOBILE -->
            <source media="(max-width: 767px)" srcset="
                    ./img/fresh-box-img/mob/mob_bb@1x.webp 1x,
                    ./img/fresh-box-img/mob/mob_bb@2x.webp 2x" width="335" height="476" type="image/webp" />

            <img class="fresh-box-images" src="./img/fresh-box-img/mob/mob_bb@1x.webp" alt="retina melon"
              loading="lazy" />
          </picture>
        </li>
      </ul>
    </div>

    <!-- <p>
        dd
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolores
        provident, voluptatem, quia impedit ipsam sunt tenetur optio minus
        tempore perferendis, aliquam hic necessitatibus ut cum eum qui cumque
        sequi.
      </p> -->
    <!--Код-->
  </div>
</section>
