
<section class="sections fresh-box-section" id="contacts-email">
  <div class="container fresh-box">
    <!--Код-->
    <div class="title-wrap">
      <h3 class="title">
        Fresh Harvest Box has <br />
        got you covered
      </h3>
      <div class="image-wrap">
        <picture>
            <!-- DESK -->
            <source media="(min-width: 1280px)" srcset="
                              ./img/fresh-box-img/desk/desk_melon@1x.webp 1x,
                              ./img/fresh-box-img/desk/desk_melon@2x.webp 2x" width="792" height="502"
              type="image/webp" />
            <!-- TABLET -->

            <source media="(min-width: 768px)" srcset="
                    ./img/fresh-box-img/tab/tab_melon@1x.webp 1x,
                    ./img/fresh-box-img/tab/tab_melon@2x.webp 2x" width="344" height="480" type="image/webp" />

            <!-- MOBILE -->
            <source media="(max-width: 767px)" srcset="
                    ./img/fresh-box-img/mob/mob_melon@1x.webp 1x,
                    ./img/fresh-box-img/mob/mob_melon@2x.webp 2x" width="335" height="476" type="image/webp" />

            <img class="image-melon image" src="./img/fresh-box-img/mob/mob_melon@1x.webp" alt="retina melon"
              loading="lazy" />
          </picture>
        
          <picture>
            <!-- DESK -->
            <source media="(min-width: 1280px)" srcset="
                                        ./img/fresh-box-img/desk/desk_bb@1x.webp 1x,
                                        ./img/fresh-box-img/desk/desk_bb@2x.webp 2x" width="400" height="502"
              type="image/webp" />
            <!-- TABLET -->

            <source media="(min-width: 768px)" srcset="
                    ./img/fresh-box-img/tab/tab_bb@1x.webp 1x,
                    ./img/fresh-box-img/tab/tab_bb@2x.webp 2x" width="344" height="480" type="image/webp" />

            <!-- MOBILE -->
            <source media="(max-width: 767px)" srcset="
                    ./img/fresh-box-img/mob/mob_bb@1x.webp 1x,
                    ./img/fresh-box-img/mob/mob_bb@2x.webp 2x" width="335" height="476" type="image/webp" />

            <img class="image-blueberry image" src="./img/fresh-box-img/mob/mob_bb@1x.webp" alt="retina melon"
              loading="lazy" />
          </picture>
      </div>
    </div>
  </div>
</section>

