<section class="sections section-basket">
  <div class="container container-basket">
    <!--Код-->
    <div class="container-basket-text">
      <h2 class="basket-title">
        To order your fruit basket, simply follow these easy steps
      </h2>
      <p class="basket-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home. Whether you're looking for a healthy snack or a thoughtful
        gift, our fruit baskets are the perfect choice.
      </p>
    </div>
    <ul class="basket-list">
      <li class="basket-item">
        <div class="container-first-step">
          <h3 class="basket-item-title first">First Step</h3>
          <p class="basket-item-text">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
      </li>
      <li class="basket-item">
        <div class="container-second-step">
          <h3 class="basket-item-title second">Second Step</h3>
          <p class="basket-item-text">
            Click on the basket and fill out the form.
          </p>
        </div>
      </li>
      <li class="basket-item">
        <div class="container-third-step">
          <h3 class="basket-item-title third">Third Step</h3>
          <p class="basket-item-text">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </div>
      </li>
    </ul>
    <!--Код-->
  </div>
</section>
