<section class="hero-section sections">
  <div class="container">
    <!--Код-->
    <h1 class="hero-title">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>
    <div class="back-thumb">
      <div class="hero-back">
        <button type="button" class="shop-btn">
          <span class="btn-text">shop now</span>
        </button>
      </div>
    </div>
    <p class="motto-text">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <div class="melon-block">
      <h2 class="block-titles">Fruit</h2>
      <div class="melon-thumb">
        <img
          src="./img/hero-img/hero-mob-img/tropical-watermelon_mob@1x.png"
          alt=""
          class="melon-img"
        />
      </div>
      <p class="block-text">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
    <ul class="hash-list">
      <li class="hash-item block-text">&#x23;Organic</li>
      <li class="hash-item block-text">&#x23;Products</li>
      <li class="hash-item block-text">&#x23;Basket</li>
      <li class="hash-item block-text">&#x23;Fruits</li>
    </ul>
    <div class="strawb-block">
      <h2 class="block-titles">Fruit</h2>
      <div class="strawb-thumb">
        <img
          src="./img/hero-img/hero-mob-img/strawberry-basket_mob@1x.png"
          alt=""
          class="strawb-img"
        />
      </div>
      <p class="block-text">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </div>
    <!--Код-->
  </div>
</section>
