<section class="hero-section sections">
  <div class="container">
    <!--Код-->
    <h1 class="hero-title">
      fresh harvest box <br />
      is your one-stop place for a delicious fruit basket
    </h1>
    <div class="back-thumb">
      <div class="hero-back"></div>
      <a href="#fruits-list-order" class="shop-btn"
        ><span class="btn-text">shop now</span></a
      >
    </div>
    <div class="left-side">
      <p class="motto-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="melon-block">
        <h2 class="block-titles">Fruit</h2>
        <div class="melon-thumb">
          <img
            srcset="
              ./img/hero-img/hero-mob-img/tropical-melon_mob@1x.png 1x,
              ./img/hero-img/hero-mob-img/tropical-melon_mob@2x.png 2x
            "
            src="./img/hero-img/hero-mob-img/tropical-melon_mob@1x.png"
            alt="tropical-melon"
            class="melon-img"
          />
          <img
            srcset="
              ./img/hero-img/hero-mob-img/Oval_mob@1x.png 1x,
              ./img/hero-img/hero-mob-img/Oval_mob@2x.png 2x
            "
            src="./img/hero-img/hero-mob-img/Oval_mob@1x.png"
            alt="shadow under tropical-melon"
            width="239"
            height="38"
            class="shadow"
          />
        </div>
        <p class="block-text">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="right-side">
      <ul class="hash-list">
        <li class="hash-item block-text">&#x23;Organic</li>
        <li class="hash-item block-text">&#x23;Products</li>
        <li class="hash-item block-text">&#x23;Basket</li>
        <li class="hash-item block-text">&#x23;Fruits</li>
      </ul>
      <div class="strawb-block">
        <h2 class="block-titles">Fruit</h2>
        <div class="strawb-thumb">
          <img
            srcset="
              ./img/hero-img/hero-mob-img/strawberry-basket_mob@1x.png 1x,
              ./img/hero-img/hero-mob-img/strawberry-basket_mob@2x.png 2x
            "
            src="./img/hero-img/hero-mob-img/strawberry-basket_mob@1x.png"
            alt="strawberry-basket"
            class="strawb-img"
          />
          <img
            srcset="
              ./img/hero-img/hero-mob-img/Oval_mob@1x.png 1x,
              ./img/hero-img/hero-mob-img/Oval_mob@2x.png 2x
            "
            src="./img/hero-img/hero-mob-img/Oval_mob@1x.png"
            alt="shadow under strawberry-basket"
            width="239"
            height="38"
            class="shadow"
          />
        </div>
        <p class="block-text">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
    <!--Код-->
  </div>
</section>
