<section class="last-section sections">
  <div class="input-order container">
    <!-- Код -->
    <p class="order-p">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <!-- Код -->

    <div class="subscribe-container">
      <form>
        <span class="last-section-form-input-wrapper">
          <input
            class="last-section-form-input"
            type="email"
            name="order_email"
            placeholder="Enter email..."
            id="order_email"
            required
            minlength="8"
            pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
          />
          <button
            class="last-section-form-button js-open-modal"
            data-modal="1"
            type="submit"
          >
            Send
          </button>

          <input
            class="last-section-form-input"
            type="email"
            name="order_email"
            placeholder="Enter email..."
            id="order_email"
            required
            minlength="8"
            pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
          />
          <button
            class="last-section-form-button js-open-modal"
            data-modal="1"
            type="submit"
          >
            Send
          </button>
        </span>
      </form>
    </div>
  </div>

  <div class="overlay-btn js-overlay-modal"></div>
  <div class="modal" data-modal="1">
    <div class="modal-content">
      <span class="close-button js-modal-close">
        <svg class="" width="14" height="14">
          <use href="./img/order-test.svg#icon-close-modal"></use>
        </svg>
      </span>
      <img
        src="./img/thank-you-modal/raspberry@1x.png"
        srcset="
          ./img/thank-you-modal/raspberry@1x.png 1x,
          ./img/thank-you-modal/raspberry@2x.png 2x
        "
        alt="raspberry"
        width="278"
        height="239"
      />
      <h2>tHANK YOU</h2>
      <p>
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!
      </p>
    </div>
  </div>
</section>
