<section class="sections list-fruit-section">
  <div class="container">
    <!--Код-->
    <h2 class="org-fru-head">ORGANIC FRUITS</h2>
    <p class="fourth-sec-par">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruit-list">
      <li class="fruit-item">
        <h3 class="fruit-name">Strawberry</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-1@1x.png 1x,
            ./img/list-fruit-images/Group-1@2x.png 2x
          "
          src="./img/list-fruit-images/Group-1@1x.png"
          alt="Strawberry"
        />

        <p class="price">100 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Banana</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-2@1x.png 1x,
            ./img/list-fruit-images/Group-2@2x.png 2x
          "
          src="./img/list-fruit-images/Group-2@1x.png"
          alt="Banana"
        />

        <p class="price">80 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Watermelon</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-3@1x.png 1x,
            ./img/list-fruit-images/Group-3@2x.png 2x
          "
          src="./img/list-fruit-images/Group-3@1x.png"
          alt="Banana"
        />

        <p class="price">40 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Lime</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-4@1x.png 1x,
            ./img/list-fruit-images/Group-4@2x.png 2x
          "
          src="./img/list-fruit-images/Group-4@1x.png"
          alt="Banana"
        />

        <p class="price">60 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Apple</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-5@1x.png 1x,
            ./img/list-fruit-images/Group-5@2x.png 2x
          "
          src="./img/list-fruit-images/Group-5@1x.png"
          alt="Banana"
        />

        <p class="price">50 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Peach</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-6@1x.png 1x,
            ./img/list-fruit-images/Group-6@2x.png 2x
          "
          src="./img/list-fruit-images/Group-6@1x.png"
          alt="Banana"
        />

        <p class="price">80 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Plums</h3>
        <p class="plant">Plant</p>
        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-7@1x.png 1x,
            ./img/list-fruit-images/Group-7@2x.png 2x
          "
          src="./img/list-fruit-images/Group-7@1x.png"
          alt="Banana"
        />
        <p class="price">40 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Orange</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-8@1x.png 1x,
            ./img/list-fruit-images/Group-8@2x.png 2x
          "
          src="./img/list-fruit-images/Group-8@1x.png"
          alt="Banana"
        />

        <p class="price">60 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Kiwi</h3>
        <p class="plant">Plant</p>

        <img
          class="fruit-item-img"
          srcset="
            ./img/list-fruit-images/Group-9@1x.png 1x,
            ./img/list-fruit-images/Group-9@2x.png 2x
          "
          src="./img/list-fruit-images/Group-9@1x.png"
          alt="Banana"
        />

        <p class="price">90 UAH / kg</p>
      </li>
    </ul>

    <button class="order-btn js-open-modal" data-modal="3" type="button">

      <svg class="button-svg" width="14" height="14" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg">
=======
      <svg
        class="button-svg"
        width="14"
        height="14"
        viewBox="0 0 14 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >

        <path
          d="M14 2.15073L11.9259 0.0766602V10.447L1.55556 0.0766602L0 1.63222L10.3704 12.0026H0L2.07407 14.0767H14V2.15073Z"
          fill="white"
        />
      </svg>
      <span>oRDER</span>
    </button>

    <!--Код-->
  </div>
</section>
