<section class="sections">
  <div class="container">
    <!--Код-->
    <h2 class="org-fru-head">ORGANIC FRUITS</h2>
    <p class="fourth-sec-par">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruit-list">
      <li class="fruit-item">
        <h3 class="fruit-name">Strawberry</h3>
        <p class="plant">Plant</p>
        <p class="price">100 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Banana</h3>
        <p class="plant">Plant</p>
        <p class="price">80 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Watermelon</h3>
        <p class="plant">Plant</p>
        <p class="price">40 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Lime</h3>
        <p class="plant">Plant</p>
        <p class="price">60 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Apple</h3>
        <p class="plant">Plant</p>
        <p class="price">50 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Peach</h3>
        <p class="plant">Plant</p>
        <p class="price">80 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Plums</h3>
        <p class="plant">Plant</p>
        <p class="price">40 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Orange</h3>
        <p class="plant">Plant</p>
        <p class="price">60 UAH / kg</p>
      </li>
      <li class="fruit-item">
        <h3 class="fruit-name">Kiwi</h3>
        <p class="plant">Plant</p>
        <p class="price">90 UAH / kg</p>
      </li>
    </ul>
    <!--Код-->
  </div>
</section>
