<section class="sections">
  <div class="container">
    <!--Код-->
    <h2 class="org-fru-head">ORGANIC FRUITS</h2>
    <p class="fourth-sec-par">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruit-list">
      <li class="fruit-item">
        <h3>Strawberry</h3>
        <p>Plant</p>
      </li>
      <li class="fruit-item">
        <h3>Banana</h3>
        <p>Plant</p>
      </li>
      <li class="fruit-item">
        <h3>Watermelon</h3>
        <p>Plant</p>
      </li>
      <li class="fruit-item">
        <h3>Lime</h3>
        <p>Plant</p>
      </li>
      <li class="fruit-item">
        <h3>Apple</h3>
        <p>Plant</p>
      </li>
      <li class="fruit-item">
        <h3>Peach</h3>
        <p>Plant</p>
      </li>
    </ul>
    <!--Код-->
  </div>
</section>
