<div class="order-container modal" data-modal="3">
  <div class="order-content">
    <button class="close-modal js-modal-close" type="button">
      <svg width="24" height="24">
        <use href="./img/sprite.svg#icon-madal-close-btn"></use>
      </svg>
    </button>

    <form class="madal-form">
      <h3 class="name-modal">Your Order</h3>
      <ul class="order-list">
        <li class="order-item">
          <input
            class="modal-form-check visually-hidden"
            id="order-box-1"
            type="checkbox"
            name="strawberry_basket"
          />
          <label class="order-item-label" for="order-box-1">
            <span class="modal-fake-checkbox">
              <svg class="modal-fake-svg">
                <use href="./img/sprite.svg#icon-checkbox"></use>
              </svg>
            </span>
            <span class="order-item-img-wrapper">
              <span class="order-item-img-wrapper-p">
                <span class="order-item-basket span-wrap"
                  >Strawberry Basket</span
                >
                <span class="span-wrap">Plant</span>
              </span>
              <picture>
                <source
                  srcset="
                    ./img/your-order/desk-strawberry@1x.webp 1x,
                    ./img/your-order/desk-strawberry@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/your-order/tablet-strawberry@1x.webp 1x,
                    ./img/your-order/tablet-strawberry@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/your-order/mobile-strawberry@1x.webp 1x,
                    ./img/your-order/mobile-strawberry@2x.webp 2x
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <img
                  class="width-strawberry"
                  src="./img/your-order/mobile-strawberry@1x.webp"
                  alt="strawberry basket"
                  width="88"
                  height="95"
                />
              </picture>
            </span>
          </label>
        </li>
        <li class="order-item">
          <input
            class="modal-form-check visually-hidden"
            type="checkbox"
            id="order-box-2"
            name="apple_basket"
          />
          <label class="order-item-label" for="order-box-2">
            <span class="modal-fake-checkbox">
              <svg class="modal-fake-svg">
                <use href="./img/sprite.svg#icon-checkbox"></use>
              </svg>
            </span>

            <span class="order-item-img-wrapper">
              <span class="order-item-img-wrapper-p">
                <span class="order-item-basket span-wrap">Apple Basket</span>
                <span class="span-wrap">Plant</span>
              </span>
              <picture>
                <source
                  srcset="
                    ./img/your-order/desk-apple@1x.webp 1x,
                    ./img/your-order/desk-apple@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/your-order/tablet-apple@1x.webp 1x,
                    ./img/your-order/tablet-apple@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/your-order/mobile-apple@1x.webp 1x,
                    ./img/your-order/mobile-apple@2x.webp 2x
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <img
                  class="order-item-img"
                  src="./img/your-order/mobile-apple@1x.webp"
                  alt="Apple Basket"
                  width="106"
                  height="95"
                />
              </picture>
            </span>
          </label>
        </li>
        <li class="order-item">
          <input
            class="modal-form-check visually-hidden"
            type="checkbox"
            id="order-box-3"
            name="fruits-basket"
          />
          <label class="order-item-label" for="order-box-3">
            <span class="modal-fake-checkbox">
              <svg class="modal-fake-svg">
                <use href="./img/sprite.svg#icon-checkbox"></use>
              </svg>
            </span>

            <span class="order-item-img-wrapper">
              <span class="order-item-img-wrapper-p">
                <span class="order-item-basket span-wrap">Fruits Basket</span>
                <span class="span-wrap">Plant</span>
              </span>
              <picture>
                <source
                  srcset="
                    ./img/your-order/desk-fruits@1x.webp 1x,
                    ./img/your-order/desk-fruits@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/your-order/tablet-fruits@1x.webp 1x,
                    ./img/your-order/tablet-fruits@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/your-order/mobile-fruits@1x.webp 1x,
                    ./img/your-order/mobile-fruits@2x.webp 2x
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <img
                  class="order-item-img"
                  src="./img/your-order/mobile-fruits@1x.webp"
                  alt="Fruits Basket"
                  width="107"
                  height="95"
                />
              </picture>
            </span>
          </label>
        </li>
      </ul>

      <div class="input-modal-wrapper">
        <label class="label-item">
          <input
            type="text"
            name="user_name"
            class="modal-form-input"
            required
            placeholder="Enter full name..."
            pattern="^(\w\w+)\s(\w+)$"
            minlength="2"
          />
        </label>
        <label class="label-item">
          <input
            type="email"
            name="user_email"
            class="modal-form-input"
            required
            placeholder="Enter email..."
          />
        </label>
        <label class="label-item">
          <input
            type="text"
            name="user_card_number"
            class="modal-form-input"
            placeholder="Enter card.."
            required
            pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
            title="xxxx-xxxx-xxxx-xxxx"
          />
        </label>
        <label class="label-item-texteria">
          <textarea
            name="user_message"
            class="modal-form-text"
            placeholder="Enter comments..."
          ></textarea>
        </label>
      </div>
      <div class="order-content-img"></div>
      <button type="submit" class="order-send">Submit</button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
