.fresh-box-section {
  padding-bottom: 80px;
}

.fresh-box {
  display: flex;

  flex-direction: column;
}

.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding-top: 52px;
}
.title {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  width: 100%;
  height: 128px;
  color: #ffffff;
}
.title br {
  display: none;
}
.image-wrap {
  display: flex;
}
.image {
  max-width: 100%;
  height: auto;
}

.image-melon {
  margin: 0 auto;
  border-radius: 42px;
  /* за макетом 20 але якщо буде 20 будуть білі плями */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-blueberry {
  display: none;
  
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
 
  
  .fresh-box {
    display: flex;

    flex-direction: column;
  }
  
  .title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding-top: 83px;

  }
  .title {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    color: #ffffff;
  }
  .title br {
    display: none;
  }
  .image-wrap {
    display: flex;
  }
  .image {
    max-width: 100%;
    height: auto;
  }

  .image-melon {

    border-radius: 20px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .image-blueberry {
    margin-left: 16px;
    display: block;
    max-width: 344px;
    max-height: 480px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
}

@media screen and (min-width: 1280px) {
  
  

  .fresh-box {
    display: flex;
    flex-direction: column;
  }
  
  .title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

  }
 
  .title {
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: -0.04em;
    color: #ffffff;
  }
  .title br{
    display: block;
  }
  .image-wrap {
    display: flex;
    
  
  }
  .image {
    width: 100%;
  }

  .image-melon {
    

    border-radius: 20px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .image-blueberry {
    max-height: 502px ;
    max-width: 402px;
    margin-left: 24px;
    display: block;
    border-radius: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}