.sections {
  background-color: rgba(174, 19, 50, 1);
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
  /* outline: 1px solid #000000; */
}
.container {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 768px;
}
.sections {
  padding-bottom: 80px;
  padding-top: 144px;
}
.fresh-box {
  display: flex;

  flex-direction: column;
}
.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #9dc262;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 150px;
}

.order-button {
  /* margin: 0 auto; */

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: #9dc262;
  border-color: transparent;
  transform: rotate(-14deg);
}
.title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.title {
  position: absolute;
  top: -52px;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 128px;
  color: #ffffff;
}
.title br {
  display: none;
}
.image-wrap {
  display: flex;
}
.image {
  max-width: 100%;
  height: auto;
}

.image-melon {
  margin: 0 auto;
  border-radius: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-blueberry {
  display: none;
  
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  .sections {
    padding-bottom: 80px;
  }
  .fresh-box {
    display: flex;

    flex-direction: column;
  }
  .button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 114px;
    height: 114px;
    left: 0px;
    top: 0px;
    background: #9dc262;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 150px;
  }

  .order-button {
    /* margin: 0 auto; */

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background: #9dc262;
    border-color: transparent;
    transform: rotate(-14deg);
  }
  .title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

  }
  .title {
    position: absolute;
    top: -83px;
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 128px;
    color: #ffffff;
  }
  .title br {
    display: none;
  }
  .image-wrap {
    display: flex;
  }
  .image {
    max-width: 100%;
    height: auto;
  }

  .image-melon {

    border-radius: 20px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .image-blueberry {
    margin-left: 16px;
    display: block;
    max-width: 344px;
    max-height: 480px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .sections {
    padding-bottom: 80px;
  }

  .fresh-box {
    display: flex;
    flex-direction: column;
  }
  .button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 114px;
    height: 114px;
    left: 0px;
    top: 0px;
    background: #9dc262;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 150px;
  }

  .order-button {
    /* margin: 0 auto; */

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background: #9dc262;
    border-color: transparent;
    transform: rotate(-14deg);
  }
  .title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

  }
 
  .title {
    
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: -0.04em;
    color: #ffffff;
  }
  .title br{
    display: block;
  }
  .image-wrap {
    display: flex;
    
  
  }
  .image {
    width: 100%;
  }

  .image-melon {
    

    border-radius: 20px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .image-blueberry {
    max-height: 502px ;
    max-width: 402px;
    margin-left: 24px;
    display: block;
    border-radius: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}