.hero-title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
}

.img-thumb {
}

.shop-btn {
}

.btn-text {
}

.motto-text {
}

.melon-block {
}

.hash-list {
}

.hash-item {
}

.strawb-block {
}

.block-titles {
}
.block-text {
}
