/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
:root {
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  
    color: #fff;
    
}
.sections {
  background-color: rgba(174, 19, 50, 1);
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
  outline: 1px solid #000000;
  
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}


@import url('./header.css');
@import url('./hero.css');
@import url('./fruit-basket.css');
@import url('./gifs.css');
@import url('/list-fruit.css');
@import url('./btn-fresh-box.css');
@import url('./input-order.css');
@import url('./footer.css');
@import url('./your-order.css');


